 h1{
    color: brown;
 }
 div{
    float: left;
    width: 200px;
 }
 .div1 {background-color: aqua;

 }

.div2{
    background-color: palevioletred;

}
.div3 {
    background-color: greenyellow}

    
.div6{
    height: 200px;
    width: 30px;
    border: solid black;
    background-color: antiquewhite;
}

main{
    height: 200px;
    width: auto;
    padding: auto;
    margin: 30px;
    float: left;
}




